<table class="table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Log level</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td width="12%"><%= log['timestamp']%></td>
        <td width="1%"><%= log['level']%></td>
        <td width="86%"><%= log['message']%></td>
      </tr>
    <% end -%>
  </tbody>
</table>






