<script src="<%= NODE_HOST %>/socket.io/socket.io.js"></script>
<script>
  var api_base_url = '<%= RAILS_HOST %>';
  var base_url = "<%= NODE_HOST %>";
  var socket = io.connect(base_url);

  $(document).ready(function () {
    setInterval(refreshPartial, 3000);
  });

  socket.emit('request:log:connection', { log: true });

  socket.on('log:connected', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:online:users', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:active:calls', function (data) {
    console.log("Active calls: ", data);
    parseActiveCalls(data);
  });

  function parseOnlineUsers(data){
    users = JSON.parse(data);

    online_users_html = '<table><tr><th>ID</th><th>User name</th><th>Logged since</th></tr>';
    users.forEach(function(value, index){
      online_users_html += usersShowTmpl(value);
    });
    online_users_html += '</table>';
    $('#online_users').html(online_users_html);
  }

  function parseActiveCalls(data){
    calls = JSON.parse(data);

    active_calls_html = '<table><tr><th>Caller</th><th>Assistant</th><th>Call since</th></tr>';
    pending_calls_html = '<table><tr><th>Caller</th><th>Assistant</th><th>Call since</th></tr>';
    calls.forEach(function(value, index){
     if(value.call.created_at != "") { active_calls_html += callsShowTmpl(value);}
     else { pending_calls_html += callsShowTmpl(value); }
    });
    active_calls_html+= '</table>';
    pending_calls_html+= '</table>';
    $('#active_calls').html(active_calls_html);
    $('#pending_calls').html(pending_calls_html);
  }

  // Templates

  function usersShowTmpl(value){
    if(value){
      return '<tr><td>' + value.user.id + '</td>' + '<td>' + value.user.name + '</td>' + '<td>' + value.user.log_since + '</td></tr>';
    }
  }

  function callsShowTmpl(value){
    if(value){
      return '<tr><td>' + value.call.caller_name + ' (' + value.call.caller_id + ')</td>' + '<td>' + value.call.assistant_name + ' (' + value.call.assistant_id + ')</td>' + '<td>' + value.call.created_at + '</td></tr>';
    }
  }

  // calls action refreshing the partial
  function refreshPartial() {
    $.ajax({
      url: "activity_monitor/refresh_logs"
   });
  }

</script>
<h1>Remote assistant Activity</h1>



<br>

Online users: 
<section id="online_users">
  
</section>

Active calls: 
<section id="active_calls">
  
</section>

Pending calls: 
<section id="pending_calls">
  
</section>

<ul class="responses">
</ul>

<section id="logs">
  <%= render 'logs' %>
</section>





