<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="<%= NODE_HOST %>/socket.io/socket.io.js"></script>
<script>
  var api_base_url = '<%= RAILS_HOST %>';
  var base_url = "<%= NODE_HOST %>";
  var socket = io.connect(base_url);
  var autoscroll = true;
  $(document).ready(function () {

    
    
    setInterval(refreshPartial, 3000);
  });

  function isScrolledIntoView(elem){
      var docViewTop = $(window).scrollTop();
      var docViewBottom = docViewTop + $(window).height() + 600;

      var elemTop = $(elem).offset().top;
      var elemBottom = elemTop + $(elem).height();

      return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
  }

  socket.emit('request:log:connection', { log: true });

  socket.on('log:connected', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:online:users', function (data) {
    parseOnlineUsers(data);
  });

  socket.on('log:online:devices', function (data) {
    parseOnlineDevices(data);
  });

  socket.on('log:active:calls', function (data) {
    console.log("Active calls: ", data);
    parseActiveCalls(data);
  });

  function parseOnlineUsers(data){
    users = JSON.parse(data);

    online_users_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>ID</th><th>User name</th><th>Connected at</th></tr></thead><tbody>';
    users.forEach(function(value, index){
      online_users_html += usersShowTmpl(value);
    });
    online_users_html += '</tbody></table>';
    $('#online_users').html(online_users_html);
  }

  function parseOnlineDevices(data){
    devices = JSON.parse(data);

    online_devices_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>UUID</th><th>User ID</th><th>Is background</th><th>Network</th><th>Connected at</th></tr></thead><tbody>';
    devices.forEach(function(value, index){
      online_devices_html += devicesShowTmpl(value);
    });
    online_devices_html += '</tbody></table>';
    $('#online_devices').html(online_devices_html);
  }

  function parseActiveCalls(data){
    calls = JSON.parse(data);

    active_calls_html = '<table class="table table-striped table-bordered table-hover"><thead><tr><th>Caller</th><th>Assistant</th><th>Call since</th></tr></thead><tbody>';
    pending_calls_html = '<table class="table table-striped table-bordered table-hover"></thead><tr><th>Caller</th><th>Assistant</th><th>Call since</th></tr></thead><tbody>';
    calls.forEach(function(value, index){
     if(value.call.created_at != "") { active_calls_html += callsShowTmpl(value);}
     else { pending_calls_html += callsShowTmpl(value); }
    });
    active_calls_html+= '</tbody></table>';
    pending_calls_html+= '</tbody></table>';
    $('#active_calls').html(active_calls_html);
    $('#pending_calls').html(pending_calls_html);
  }

  // Templates

  function usersShowTmpl(value){
    if(value){
      return '<tr><td>' + value.id + '</td>' + '<td>' + value.name + '</td>' /*+ '<td>' + value.user.connection.type+ '</td>' +  '<td>' /*+ value.user.state + '</td>'*/ + '<td>' + value.connected_at + '</td></tr>';
    }
  }

  function devicesShowTmpl(value){
    if(value){
      return '<tr><td>' + value.uuid + '</td>' + '<td>' + value.user_id + '</td>' + '<td>' + value.is_background+ '</td>' +  '<td>' + value.connection_type + '</td>' + '<td>' + value.connected_at + '</td></tr>';
    }
  }

  function callsShowTmpl(value){
    if(value){
      return '<tr><td>' + value.call.caller_name + ' (' + value.call.caller_id + ')</td>' + '<td>' + value.call.assistant_name + ' (' + value.call.assistant_id + ')</td>' + '<td>' + value.call.created_at + '</td></tr>';
    }
  }

  // calls action refreshing the partial
  function refreshPartial() {
    $.ajax({
      url: "activity_monitor/refresh_logs"
   });
  }

</script>

<div class="row">
  <div class="col-lg-12">
    <h3>Activity Monitor</h3>
  </div>
</div>


<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Online users</div>
      <div class="panel-body">
        <div class="table-responsive" id="online_users">
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Online devices</div>
      <div class="panel-body">
        <div class="table-responsive" id="online_devices">
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Active calls</div>
      <div class="panel-body">
        <div class="table-responsive" id="active_calls">

        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Pending calls</div>
      <div class="panel-body">
        <div class="table-responsive" id="pending_calls">
        </div>
      </div>
    </div>
  </div>
</div>



<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Log</div>
      <div class="panel-body">
        <div  id="logs">
          <%= render 'logs' %>
        </div>
      </div>
    </div>
  </div>
</div>




