= simple_form_for(@connection) do |f|
  = f.error_notification

  .inputs
    = f.association :user
    = f.association :contact
    = f.input :is_pending
    = f.input :is_rejected
    = f.input :is_removed
    = f.input :id_user, as: :hidden, input_html: { value: params[:user] } 

  .actions
    hr
    button.btn type="submit" class="btn btn-primary" Submit
