<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header text-asbestos">Devices</h3>
  </div>
</div>


<table>
  <tr>
    <th>ID</th>
    <th>TOKEN</th>
    <th>USER ID</th>
    <th>CREATED AT</th>
  </tr>
  <% @devices.each do |device| %>
    <tr>
      <td><%= device.id%></td>
      <td><%= device.token %></td>
      <td><%= device.user_id %></td>
      <td><%= l(device.created_at, format: "%d.%m.%Y %H:%M") %></td>
    </tr>
  <% end -%>
</table>


