<div class="row">
  <div class="col-lg-12">
    <h3>Devices</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          New Device
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
