<div class="row">
  <div class="col-lg-12">
    <h3>Records</h3>
  </div>
</div>

<div class='row'>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">

test

      </div>
    </div>
  </div>
</div>
