<html>
<head>
  <title>Remote Assistant - Authenitcation e-mail</title>
</head>
<body>
  <h1>Authenitcation e-mail</h1>
  <% if @device.blank? %>
    <span>Your authentication code is: <strong><%= @user.validation_code%></strong> </span>
  <% else %>
    <span>Your authentication code is: <strong><%= @device.verification_code%></strong> </span>
  <% end -%>
</body>
</html>
