<html>
<head>
  <title>Remote Assistant - Authenitcation e-mail</title>
</head>
<body>
  <h1>Authenitcation e-mail</h1>
  <span>Your authentication code is: <strong><%= @user.validation_code%></strong> </span>
</body>
</html>
