<html>
<head>
  <title>Remote Assistant - Invitation e-mail from <%= @invitator.name %></title>
</head>
<body>
  <h1>Invitation e-mail from <%= @invitator.name %></h1>
  <span>You are invited to REA: <strong>LINK TO DOWNLOAD APP</strong> </span>
</body>
</html>
