<html>
<head>
  <title>Remote Assistant - Reset user password</title>
</head>
<body>
  <h1>Your new password</h1>
  <span>This is your new administration password: <strong><%= @new_password %></strong> </span>
</body>
</html>
