/*
 *= require bootstrap.min
 *= require morris.min
 *= require timeline
 *= require mint-admin
 *= require font-awesome.min
 *= require_tree .
 *= require_self
 *= require mint-admin-rea
 *= require dataTables.bootstrap
 */



.green {
  color: green;
}

.red {
  color: red;
}
#log-wrapper {
   min-height: 600px;
   max-height: 600px;
   overflow: auto;
   background: #000000;
}
.table-logs {
 
  color: #ffffff;
  // background: #000000;
  
}
.table-logs tr {
  // background: #000000;
}

.table-logs td {
  // background: #000000;


.log_rails {
  color: white;
  background-color: black; 
}

.log_node {
  color: white;
  background-color: gray; 
}

}
.info {
  color: white;
}

.error {
  color: red;
}

.fatal {
  color: red;
}

.warn {
  color: orange;
}

.debug {
  color: blue;
}