/*
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

td {
	border:1px solid lightgray;
	padding:4px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#logs {
  min-height: 400px;
  max-height: 400px;
  color: #ffffff;
  background: #000000;
  overflow: auto;
}