/*
 *= require bootstrap.min
 *= require morris.min
 *= require timeline
 *= require mint-admin
 *= require font-awesome.min
 *= require_tree .
 *= require_self
 *= require mint-admin-rea
 */

td {
	border:1px solid lightgray;
	padding:4px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#logs {
  min-height: 400px;
  max-height: 400px;
  color: #ffffff;
  background: #000000;
  overflow: auto;
}